<!doctype html >
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css},
                                                ~{:: #header},
                                                ~{:: #main-content},
                                                ~{:: #footer},
                                                ~{:: #js}
                                                )}">

<head>

    <title>Book Library</title>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/user/style.css}">
        <style>
            .mt-10 {
                margin-top: 10px;
            }

            .d-flex {
                display: flex;
            }

            .justify-content-between {
                justify-content: space-between;
            }
        </style>
    </th:block>

</head>
<body class="tg-home tg-homeone">

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Header Start
    *************************************-->
    <th:block id="header" th:replace="fragments/header :: header"></th:block>

    <!--************************************
            Header End
    *************************************-->
    <th:block id="main-content">
        <div class="container d-flex justify-content-between mt-10" style="padding: 15px 10px 10px 100px">
            <div class="left-sidebar">

                <div class="shortcut-links">
                    <p>READING CHALLENGE</p>
                    <a href="#"> <img th:src="@{/user/images/shortcut-1.png}" alt="">Web Developers</a>
                    <a href="#"> <img th:src="@{/user/images/shortcut-2.png}" alt="">Web Design Course</a>
                    <a href="#"> <img th:src="@{/user/images/shortcut-3.png}" alt="">Full Stack Development</a>
                    <a href="#"> <img th:src="@{/user/images/shortcut-4.png}" alt="">Website Experts</a>
                </div>

                <div class="shortcut-links">
                    <p>BOOKSHELVES</p>
                    <a href="user/my-book"> Want to read</a>
                    <a href="user/my-book"> Currently Reading</a>
                    <a href="user/my-book"> Read</a>
                </div>
            </div>

            <!-- main-content------- -->

            <div class="content-area">

                <div class="write-post-container">
                    <div class="user-profile">
                        <img th:src="@{/user/images/profile-pic.png}" alt="">
                        <div>
                            <p> Alex Carry</p>
                            <small>Public <i class="fas fa-caret-down"></i></small>
                        </div>
                    </div>

                    <div class="post-upload-textarea">
                        <textarea name="" placeholder="What's on your mind, Alex?" id="" cols="30" rows="3"></textarea>
                        <div class="add-post-links">
                            <a href="#"><img th:src="@{/user/images/live-video.png}" alt="">Live Video</a>
                            <a href="#"><img th:src="@{/user/images/photo.png}" alt="">Photo/Video</a>
                            <a href="#"><img th:src="@{/user/images/feeling.png}" alt="">Feeling Activity</a>
                        </div>
                    </div>
                </div>

                <div class="status-field-container write-post-container">
                    <div class="user-profile-box">
                        <div class="user-profile">
                            <img th:src="@{/user/images/profile-pic.png}" alt="">
                            <div>
                                <p> Alex Carry</p>
                                <small>August 13 1999, 09.18 pm</small>
                            </div>
                        </div>
                        <div>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                    <div class="status-field">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                            laborum nihil accusantium odit laboriosam, sed sit autem! <a
                                    href="#">#This_Post_is_Better!!!!</a></p>
                        <img th:src="@{/user/images/feed-image-1.png}" alt="">

                    </div>
                    <div class="post-reaction">
                        <div class="activity-icons">
                            <div><img th:src="@{/user/images/like-blue.png}" alt="">120</div>
                            <div><img th:src="@{/user/images/comments.png}" alt="">52</div>
                            <div><img th:src="@{/user/images/share.png}" alt="">35</div>
                        </div>
                        <div class="post-profile-picture">
                            <img th:src="@{/user/images/profile-pic.png}" alt=""> <i class=" fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="status-field-container write-post-container">
                    <div class="user-profile-box">
                        <div class="user-profile">
                            <img th:src="@{/user/images/profile-pic.png}" alt="">
                            <div>
                                <p> Alex Carry</p>
                                <small>August 13 1999, 09.18 pm</small>
                            </div>
                        </div>
                        <div>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                    <div class="status-field">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                            laborum nihil accusantium odit laboriosam, sed sit autem! <a
                                    href="#">#This_Post_is_Bigger!!!!</a></p>
                        <img th:src="@{/user/images/feed-image-2.png}" alt="">

                    </div>
                    <div class="post-reaction">
                        <div class="activity-icons">
                            <div><img th:src="@{/user/images/like-blue.png}" alt="">120</div>
                            <div><img th:src="@{/user/images/comments.png}" alt="">52</div>
                            <div><img th:src="@{/user/images/share.png}" alt="">35</div>
                        </div>
                        <div class="post-profile-picture">
                            <img th:src="@{/user/images/profile-pic.png}" alt=""> <i class=" fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="status-field-container write-post-container">
                    <div class="user-profile-box">
                        <div class="user-profile">
                            <img th:src="@{/user/images/profile-pic.png}" alt="">
                            <div>
                                <p> Alex Carry</p>
                                <small>August 13 1999, 09.18 pm</small>
                            </div>
                        </div>
                        <div>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                    <div class="status-field">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                            laborum nihil accusantium odit laboriosam, sed sit autem! <a
                                    href="#">#This_Post_is_faster!!!!</a></p>
                        <img th:src="@{/user/images/feed-image-3.png}" alt="">

                    </div>
                    <div class="post-reaction">
                        <div class="activity-icons">
                            <div><img th:src="@{/user/images/like-blue.png}" alt="">120</div>
                            <div><img th:src="@{/user/images/comments.png}" alt="">52</div>
                            <div><img th:src="@{/user/images/share.png}" alt="">35</div>
                        </div>
                        <div class="post-profile-picture">
                            <img th:src="@{/user/images/profile-pic.png}" alt=""> <i class=" fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="status-field-container write-post-container">
                    <div class="user-profile-box">
                        <div class="user-profile">
                            <img th:src="@{/user/images/profile-pic.png}" alt="">
                            <div>
                                <p> Alex Carry</p>
                                <small>August 13 1999, 09.18 pm</small>
                            </div>
                        </div>
                        <div>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                    <div class="status-field">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                            laborum nihil accusantium odit laboriosam, sed sit autem! <a
                                    href="#">#This_Post_is_perfect!!!!</a></p>
                        <img th:src="@{/user/images/feed-image-4.png}" alt="">

                    </div>
                    <div class="post-reaction">
                        <div class="activity-icons">
                            <div><img th:src="@{/user/images/like-blue.png}" alt="">120</div>
                            <div><img th:src="@{/user/images/comments.png}" alt="">52</div>
                            <div><img th:src="@{/user/images/share.png}" alt="">35</div>
                        </div>
                        <div class="post-profile-picture">
                            <img th:src="@{/user/images/profile-pic.png}" alt=""> <i class=" fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-LoadMore" onclick="LoadMoreToggle()">Load More</button>
            </div>

            <!-- sidebar------------ -->
            <div class="right-sidebar">
                <div class="heading-link">
                    <h4>Events</h4>
                    <a href="">See All</a>
                </div>

                <div class="events">
                    <div class="left-event">
                        <h4>13</h4>
                        <span>august</span>
                    </div>
                    <div class="right-event">
                        <h4>Social Media</h4>
                        <p><i class="fas fa-map-marker-alt"></i> wisdom em Park</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <div class="events">
                    <div class="left-event">
                        <h4>18</h4>
                        <span>January</span>
                    </div>
                    <div class="right-event">
                        <h4>Mobile Marketing</h4>
                        <p><i class="fas fa-map-marker-alt"></i> wisdom em Park</p>
                        <a href="#">More Info</a>
                    </div>
                </div>

                <div class="heading-link">
                    <h4>Advertisement</h4>
                    <a href="">Close</a>
                </div>
                <div class="advertisement">
                    <img th:src="@{/user/images/advertisement.png}" class="advertisement-image" alt="">
                </div>

                <div class="heading-link">
                    <h4>Conversation</h4>
                    <a href="">Hide Chat</a>
                </div>

                <div class="online-list">
                    <div class="online">
                        <img th:src="@{/user/images/member-1.png}" alt="">
                    </div>
                    <p>Alison Mina</p>
                </div>

                <div class="online-list">
                    <div class="online">
                        <img th:src="@{/user/images/member-2.png}" alt="">
                    </div>
                    <p>Jackson Aston</p>
                </div>
                <div class="online-list">
                    <div class="online">
                        <img th:src="@{/user/images/member-3.png}" alt="">
                    </div>
                    <p>Samona Rose</p>
                </div>
            </div>
        </div>

    </th:block>
    <!--************************************
            Main End
    *************************************-->
    <!--************************************
            Footer Start
    *************************************-->
    <!--    <th:block id="footer" th:replace="fragments/footer :: footer"></th:block>-->

    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
<th:block id="js">
    <script th:inline="javascript">
    </script>

</th:block>
</body>

</html>