<th:block th:fragment="post(user,review)">
<div class="status-field-container write-post-container">
        <div class="user-profile-box">
            <div class="user-profile">
                <img th:src="${user.avatar}" alt="">
                <div>
                    <p> Alex Carry</p>
                    <small>August 13 1999, 09.18 pm</small>
                </div>
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="status-field">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                laborum nihil accusantium odit laboriosam, sed sit autem! <a
                        href="#">#This_Post_is_Better!!!!</a></p>
            <img src="images/feed-image-1.png" alt="">

        </div>
        <div class="post-reaction">
            <div class="activity-icons">
                <div><img src="images/like-blue.png" alt="">120</div>
                <div><img src="images/comments.png" alt="">52</div>
                <div><img src="images/share.png" alt="">35</div>
            </div>
            <div class="post-profile-picture">
                <img src="images/profile-pic.png " alt=""> <i class=" fas fa-caret-down"></i>
            </div>
        </div>
    </div>
</th:block>