<th:block th:fragment="sidebar">

    <aside id="tg-sidebar" class="tg-sidebar">

        <div class="tg-widget tg-catagories">
            <div class="tg-widgettitle">
                <h3>Categories</h3>
            </div>
            <div class="tg-widgetcontent">
                <ul>
                    <li><a href="javascript:void(0);"><span>Art &amp; Photography</span><em>28245</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Biography</span><em>4856</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Children’s Book</span><em>8654</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Craft &amp; Hobbies</span><em>6247</em></a>
                    </li>
                    <li><a href="javascript:void(0);"><span>Crime &amp; Thriller</span><em>888654</em></a>
                    </li>
                    <li><a href="javascript:void(0);"><span>Fantasy &amp; Horror</span><em>873144</em></a>
                    </li>
                    <li><a href="javascript:void(0);"><span>Fiction</span><em>18465</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Fod &amp; Drink</span><em>3148</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Graphic, Anime &amp; Manga</span><em>77531</em></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><span>Science Fiction</span><em>9247</em></a>
                    </li>
                    <li><a href="javascript:void(0);"><span>View All</span></a></li>
                </ul>
            </div>
        </div>
<!--        <div class="tg-widget tg-widgettrending">-->
<!--            <div class="tg-widgettitle">-->
<!--                <h3>Trending Products</h3>-->
<!--            </div>-->
<!--            <div class="tg-widgetcontent">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <article class="tg-post">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/products/img-04.jpg"-->
<!--                                    alt="image description"></a></figure>-->
<!--                            <div class="tg-postcontent">-->
<!--                                <div class="tg-posttitle">-->
<!--                                    <h3><a href="javascript:void(0);">Where The Wild Things-->
<!--                                        Are</a></h3>-->
<!--                                </div>-->
<!--                                <span class="tg-bookwriter">By: <a-->
<!--                                        href="javascript:void(0);">Kathrine Culbertson</a></span>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <article class="tg-post">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/products/img-05.jpg"-->
<!--                                    alt="image description"></a></figure>-->
<!--                            <div class="tg-postcontent">-->
<!--                                <div class="tg-posttitle">-->
<!--                                    <h3><a href="javascript:void(0);">Where The Wild Things-->
<!--                                        Are</a></h3>-->
<!--                                </div>-->
<!--                                <span class="tg-bookwriter">By: <a-->
<!--                                        href="javascript:void(0);">Kathrine Culbertson</a></span>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <article class="tg-post">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/products/img-06.jpg"-->
<!--                                    alt="image description"></a></figure>-->
<!--                            <div class="tg-postcontent">-->
<!--                                <div class="tg-posttitle">-->
<!--                                    <h3><a href="javascript:void(0);">Where The Wild Things-->
<!--                                        Are</a></h3>-->
<!--                                </div>-->
<!--                                <span class="tg-bookwriter">By: <a-->
<!--                                        href="javascript:void(0);">Kathrine Culbertson</a></span>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <article class="tg-post">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/products/img-07.jpg"-->
<!--                                    alt="image description"></a></figure>-->
<!--                            <div class="tg-postcontent">-->
<!--                                <div class="tg-posttitle">-->
<!--                                    <h3><a href="javascript:void(0);">Where The Wild Things-->
<!--                                        Are</a></h3>-->
<!--                                </div>-->
<!--                                <span class="tg-bookwriter">By: <a-->
<!--                                        href="javascript:void(0);">Kathrine Culbertson</a></span>-->
<!--                            </div>-->
<!--                        </article>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tg-widget tg-widgetinstagram">-->
<!--            <div class="tg-widgettitle">-->
<!--                <h3>Instagram</h3>-->
<!--            </div>-->
<!--            <div class="tg-widgetcontent">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-01.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-02.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-03.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-04.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-05.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-06.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-07.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-08.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <figure>-->
<!--                            <img src="images/instagram/img-09.jpg" alt="image description">-->
<!--                            <figcaption><a href="javascript:void(0);"><i-->
<!--                                    class="icon-heart"></i><em>50,134</em></a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tg-widget tg-widgetblogers">-->
<!--            <div class="tg-widgettitle">-->
<!--                <h3>Top Bloogers</h3>-->
<!--            </div>-->
<!--            <div class="tg-widgetcontent">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <div class="tg-author">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/author/imag-03.jpg" alt="image description"></a>-->
<!--                            </figure>-->
<!--                            <div class="tg-authorcontent">-->
<!--                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>-->
<!--                                <span>21,658 Published Books</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="tg-author">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/author/imag-04.jpg" alt="image description"></a>-->
<!--                            </figure>-->
<!--                            <div class="tg-authorcontent">-->
<!--                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>-->
<!--                                <span>21,658 Published Books</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="tg-author">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/author/imag-05.jpg" alt="image description"></a>-->
<!--                            </figure>-->
<!--                            <div class="tg-authorcontent">-->
<!--                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>-->
<!--                                <span>21,658 Published Books</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="tg-author">-->
<!--                            <figure><a href="javascript:void(0);"><img-->
<!--                                    src="images/author/imag-06.jpg" alt="image description"></a>-->
<!--                            </figure>-->
<!--                            <div class="tg-authorcontent">-->
<!--                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>-->
<!--                                <span>21,658 Published Books</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
    </aside>

</th:block>