<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{account/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{account/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Main css -->
    <link rel="stylesheet" th:href="@{account/css/style.css}">
    <style>
        #show-password {
            display: inline-block;
            cursor: pointer;
        }

        .label-of-show-pass {
            display: inline-block;
            -webkit-transform: translateY(-10%);
            position: relative;
            cursor: pointer;

        }

    </style>
</head>

<body class="main m-0">


<!-- Sign up form -->
<section class="signup mb-5">
    <div class="container">
        <div class="signup-content">

            <div class="signup-form">
                <h4 class="form-title">Reset Password</h4>
                <form method="POST" class="reset-form" id="reset-form">

                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re-pass" id="re-pass" placeholder="Repeat your password"/>
                    </div>

                    <div class="form-group">

                        <input type="checkbox" id="show-password"/>
                        <label for="show-password" class="label-of-show-pass">Show password</label>

                    </div>

                </form>
                <div class="form-group form-button">
                    <input type="submit" name="reset" id="reset" class="form-submit w-100" value="Submit"/>
                </div>
            </div>
            <div class="signup-image text-center">
                <figure><img src="account/img/signup-image.jpg" alt="sign-up image"></figure>
            </div>

        </div>
    </div>
</section>
<div class="footer-main">
</div>

<!-- JS -->
<script src="account/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
<script src="account/js/main.js"></script>


<script th:inline="javascript">
    $(document).ready(function () {
        $("#reset-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            errorPlacement: function (error, element) {
                error.addClass("error-message");
                error.insertAfter(element);
            },
            rules: {
                "password": {
                    required: true,
                },
                "re-pass": {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                "password": {
                    required: "Enter your password"
                },
                "re-pass": {
                    required: "Repeat your password",
                    equalTo: "Re-password incorrect"
                }
            }
        });

        $("#reset").click(() => {
            let isValidForm = $("#reset-form").valid();
            if (!isValidForm) {
                return;
            }
            let otpCode = new URLSearchParams(window.location.search).get('otpCode');
            let newPassword = $("#password").val();
            let request = {
                "otpCode": otpCode,
                "newPassword": CryptoJS.MD5(newPassword).toString()
            }
            console.log(request)
            $.ajax({
                url: "/api/v1/anonymous/password-reset",
                type: 'PUT',
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Reset password successful!");
                    logOut();
                },
                error: function () {
                    toastr.warning("Request expired, let resend request!");
                    setTimeout(function () {
                        window.location.href = 'http://localhost:8080/login'
                    }, 1500)
                }
            });
        })

        $('#reset-form input').on('keyup', function (event) {
            if (event.which === 13 || event.keyCode === 13) {
                event.preventDefault();
                $("#reset").click();
            }
        });

        $('#show-password').change(function () {
            if ($(this).is(':checked')) {
                $('#password').prop('type', 'text')
                $('#re-pass').prop('type', 'text')
            } else {
                $('#password').prop('type', 'password')
                $('#re-pass').prop('type', 'password')
            }
        })

        $('#password, #re-pass').on('keyup', function (event) {
            if (event.key !== 'Enter') {
                $('#reset-form').validate().resetForm();
            }
        })

        function logOut() {
            let jwtToken = localStorage.getItem('jwtToken');
            if (jwtToken) {
                $.ajax({
                    url: '/api/v1/authentication/logout',
                    type: 'POST',
                    success: function () {
                        localStorage.clear()
                        setTimeout(function () {
                            window.location.href = 'http://localhost:8080/login'
                        }, 1000)
                    },
                    error: function () {
                        toastr.warning("Error network!")
                    }
                });
            } else {
                setTimeout(function () {
                    window.location.href = 'http://localhost:8080/login'
                }, 700)
            }
        }
    })
</script>
</body>

</html>